<% include header.ejs %>
<% include slider.ejs %>


<div class="content">
    <% posts.forEach(function(post, index){ %>
        <a class="title" href="/u/<%= post.name %>/blog/detail/<%= post._id %>"><h1 style="margin: 15px 0 0 0;"><%= post.title%></h1></a>
        <p>发布时间:<%= posts[0].time.day%> |
           阅读:<%= post.pv%> |
           标签:<% post.tags.forEach(function(tag){ %>
                <% if(tag){ %>
                    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
           <% }) %>
        </p>
        <p><%- post.post %></p>
        <p><a class="title" href="/u/<%= post.name %>/blog/detail/<%= post._id %>">阅读全文</a></p>
    <% }) %>
</div>

<% include footer.ejs %>